{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unirse a una batalla</h1>
    <p>Elige tu Pokémon para combatir:</p>

    <form method="POST">
        <select name="pokedex_player_two">
            {% for pokemon in userPokedex %}
                <option value="{{ pokemon.id }}">{{ pokemon.pokemon.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Unirse a la pelea</button>
    </form>

    <a href="{{ path('app_main') }}">Volver a inicio</a>
{% endblock %}
