{% extends 'base.html.twig' %}

{% block title %}New Fight{% endblock %}

{% block body %}
    <h1>Create new Fight</h1>


    <p>Tu rival es ... {{ enemyPokemon.name }}</p>
    <br>
    {{ include('fight/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Volver a inicio</a>
{% endblock %}
