{% extends 'base.html.twig' %}

{% block title %}New Fight{% endblock %}

{% block body %}
    <h1>Nueva batalla</h1>

    {{ include('fight/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Volver a inicio</a>
{% endblock %}
    