{% extends 'base.html.twig' %}

{% block title %}New Fight{% endblock %}

{% block body %}
    <h1>Create new Fight</h1>

    {{ include('fight/_form.html.twig') }}

    <a href="{{ path('app_fight_index') }}">back to list</a>
{% endblock %}
