{% extends 'base.html.twig' %}

{% block title %}Batalla{% endblock %}

{% block body %}
    <h1>Batalla</h1>

    <p>Tu oponente: {{ fight.enemyPokemon.name }}</p>    
    <p>Ganador: {{ fight.winner }}</p>

    <a href="{{ path('app_main') }}">Volver al inicio</a>

{% endblock %}
